.contactanos {
    float: left;
    width: 40%;
    box-sizing: border-box;
    padding-right: 1rem; /* separación entre columnas */
    
}

/* Selecciona el container que sigue inmediatamente a .contactanos */
.contactanos + .container.mt-5 {
    float: right;
    width: 58%;
    box-sizing: border-box;
    max-width: none; /* anula posibles max-width inline o de .container */
}

/* Responsive: en pantallas pequeñas se apilan verticalmente */
@media (max-width: 767.98px) {
    .contactanos,
    .contactanos + .container.mt-5 {
        float: none;
        width: 100%;
        max-width: 100%;
        padding-right: 0;
    }
}

.map-container {
  width: 100%;
  margin-top: 40px;
}

.map-container iframe {
  width: 100%;
  height: 450px;
  display: block;
}
.papi  {
  font-size: 24px;
  color: black;
  text-align: center;
}
