body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contenedor-principal {
    display: flex;
    height: 100vh;
}

/* Panel izquierdo */
.login-panel {
    width: 35%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 3px solid black;
}

.login-panel h1 {
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
}

.inputUsuario, .inputPassword {
    width: 70%;
    height: 45px;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.iniciarsesion {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #343a40;
    color: white;
    font-weight: bold;
    transition: 300ms;
}

.iniciarsesion:hover {
    background-color: #4460ff;
    cursor: pointer;
}

/* Panel derecho */
.imagen-panel {
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

.imagen-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}