/* contenido */
.contenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #4B2E0F; /* Color marr칩n oscuro */
    text-align: center;
    margin-bottom: 20px;
}
.texto-imagen {
    display: flex;
    align-items: center; /* Alinea el texto y las im치genes al centro verticalmente */
    justify-content: space-between; /* Deja espacio entre el texto y las im치genes */
    margin-bottom: 30px;
}
.Texto {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Separaci칩n entre texto e imagen */
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}