.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    /* Si quieres que el menú siempre esté visible, descomenta las líneas de abajo: */
    /* position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; */
}
.logo {
    height: 100px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 100px; /* Espacio entre los elementos del menú */
}
.menu a {
    font-size: 20px;
    display: flex;
    padding: 5px 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Transición para efecto hover */
}
.menu a:hover {
    color: chocolate; /* Efecto al pasar el mouse */
}
h1,h2,h3,h4{
    color: #4B2E0F; /* Color marrón oscuro */
    text-align: left;
    margin-bottom: 20px;
}
.Texto {
    flex: 1; /* Ocupa el espacio disponible */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Separación entre texto e imagen */
}

.copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: white;
}